# 07-09-2019

## List

#### To find given input is list or not

In [5]:
l=[1,2,3,4,5,'a','s','k','p',(6,7,8)]
type(l)

list

#### Length of a string of a list

In [6]:
l=[1,2,3,4,5,6]
print(l[3])
print(len(l))

4
6

#### Find the number in a list

In [9]:
l=[1,2,3,4,5,6,7,8,9,10,21,34,56,78,90,95,113,426,58,52]
print(l[7])

8

#### To print elements in a list between given range

In [10]:
l=['a','b','c','d','e','f']
print(l[0:5])

['a', 'b', 'c', 'd', 'e']

#### To reverse elements in a list

In [22]:
l=['a','b','c','d','e','f','g']
print(l[:-8:-1])

['g', 'f', 'e', 'd', 'c', 'b', 'a']

#### To print alternate elements in a list

In [25]:
l=['a','b','c','d','e','f','g']
print(l[0:7:4])

['a', 'e']

#### using list directory-append

In [27]:
l.append('h')
l

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'h']

In [28]:
s=['kranthi','lakshmi']
s.append('chawakula')
s

['kranthi', 'lakshmi', 'chawakula']

#### given strings is palindrome are not

In [ ]:
s=input("enter a string")
r=s[::-1]
if r==s:
    print("palindrome")
else:
    print("not palindrome")

#### to print elements in a list using loop

In [2]:
l=[2,34,45,56,78,9,90,12,34,]
for i in l:
    print(i)

2
34
45
56
78
9
90
12
34

#### To print a string in a line using loop

In [3]:
k="Anuradha"
for s in k:
    print(s)

A
n
u
r
a
d
h
a

#### To print even numbers in a list

In [12]:
n=[1,2,3,4,5,6,7,8,9]
for i in n:
    if i%2==0:
        print(i)
    else:
        print("odd",i)

odd 1
2
odd 3
4
odd 5
6
odd 7
8
odd 9

#### To print odd numbers in a list

In [13]:
n=[1,2,3,4,5,6,7,8,9]
for i in n:
    if i%2!=0:
        print(i)

1
3
5
7
9

#### To print even numbers in a range

In [20]:
a=int(input())
b=int(input())
for i in range(a,b):
     if i%2==0:
            print(i)

10
20
10
12
14
16
18

#### To print odd numbers in a range

In [2]:
a=int(input())
b=int(input())
for i in range(a,b):
     if i%2!=0:
            print(i)

5
10
5
7
9

#### Sorting numbers

In [4]:
n=[1,26,34,5,18,45,8]
n.sort()
n

[1, 5, 8, 18, 26, 34, 45]

#### Sort and Rev numbers in a list 1

In [5]:
n=[1,26,34,5,18,45,8]
n.sort(reverse=True)
n

[45, 34, 26, 18, 8, 5, 1]

#### sorting and reverse elements 2

In [6]:
n=[1,26,34,5,18,45,8]
n.sort()
print(n)
n.reverse()
print(n)

[1, 5, 8, 18, 26, 34, 45]
[45, 34, 26, 18, 8, 5, 1]

#### Sorting elements - input from user

In [4]:
l=[]
n=int(input("enter length of list "))
for i in range(1,n+1):
    t=int(input("enter an element "))
    l.append(t)
l.sort()
print(l)


l.reverse()
print(l)

enter length of list 5
enter an element 12
enter an element 26
enter an element 52
enter an element 2
enter an element 8
[2, 8, 12, 26, 52]
[52, 26, 12, 8, 2]