# 09-09-2019

### To find the  3 greatest numbers in a list

In [1]:
n=[5,45,22,54,13]
n.sort(reverse=True)
print(n[0:-2])

[54, 45, 22]

### frequency of a number

In [7]:
n=[1,2,4,2,3,1,5,1]
freq={x:n.count(x)for x in n}
print(freq)

{1: 3, 2: 2, 4: 1, 3: 1, 5: 1}

# Dictionary

### To print the data in the dictionary

In [30]:
d={"name":"kranthi","email":"kranthi9959@gmail.com","phone":839473098654}
print(d)

{'name': 'kranthi', 'email': 'kranthi9959@gmila.com', 'phone': 839473098654}

### To override the data in the dictionary

In [14]:
[InternetShortcut]
URL=http://localhost:8888/notebooks/Documents/python_426/9-09-2019/Day5.ipynb#To-insert-the-data-in-dictionary
d={"name":"kranthi","email":"kranthi9959@gmail.com","phone":839473098654,
  "name":"lakshmi"}
print(d["name"])

lakshmi

### To insert the data in dictionary

In [16]:
d={"name":"kranthi","email":"kranthi9959@gmail.com","phone":839473098654,
  "name":"lakshmi"}
print(d["name"])
d["name"]="chawakula"
print(d["name"])

lakshmi
chawakula

### To update the data in the dictionary

In [20]:
s={1:2,2:3,3:4,4:5}
s[5]=6
print(s)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [17]:
d={}
d[1]=5
d

{1: 5}

### To print the numbers in list using loop-dictionary

In [22]:
l=[1,2,2,3,2,4,3,1,2]
d={}
for i in l:
    d[i]=l.count(i)
for k in d:
    print(k)

1
2
3
4

### To print the items in the list using dictionary

In [24]:
l=[1,2,2,3,2,4,3,1,2]
d={}
for i in l:
    d[i]=l.count(i)
d.items()

dict_items([(1, 2), (2, 4), (3, 2), (4, 1)])

### To print frequency of number

In [29]:
l=[1,2,2,3,2,4,3,1,2]
d={}
for i in l:
    d[i]=l.count(i)
m=max(d.values())
for k in d:
    if d[k]==m:
        print(k, "-> ",m)

2 ->  4

### To split the given string

In [33]:
n=input("enter a string")
s=n.split()
for i in s:
    print(i)

enter a stringi love india
i
love
india

In [34]:
n=input("enter a string")
s=n.split(",")
s

enter a stringkranthi,ramya,meghana,sneha,vamsi,naveen

['kranthi', 'ramya', 'meghana', 'sneha', 'vamsi', 'naveen']

### To print the frequency of word in given string

In [39]:
n=input("enter a string ")
s=n.split()
d={}
for i in s:
    d[i]=n.count(i)
m=max(d.values())
for k in d:
    if m==d[k]:
        print(k,"-> ",m)

enter a string hi potti hi bujji
hi ->  2