# 5-09-2019

## This is a first program

### Addition

In [1]:
a=20
b=30
c=a+b
print(c)

50

## Second program

### Addition of two numbers using user input

In [3]:
a=int(input("enter A value"))
b=int(input("enter B value"))
c=a+b
print(c)

enter A value21
enter B value22
43

## Third program

### Multiplication

In [4]:
a=int(input("enter A value"))
b=int(input("enter B value"))
c=a*b
print(c)

enter A value26
enter B value22
572

## Fourth program

### division

In [5]:
a=int(input("enter A value"))
b=int(input("enter B value"))
c=a/b
print(c)

enter A value22
enter B value2
11.0

## Fifth program

### modulus

In [7]:
a=int(input("enter A value"))
b=int(input("enter B value"))
c=a%b
print(c)

enter A value26
enter B value22
4

## sixth program

### Concatenation of strings

In [8]:
a="Kranthi "
b="Lakshmi"
c=a+b
print(c)

Kranthi Lakshmi

## Seventh program

### conditional statement

In [9]:
a=int(input("enter A value"))
b=int(input("enter B value"))
if a>b:
    print("a is greater")
else:
    print("b is greater")

enter A value26
enter B value22
a is greater

In [11]:
a=int(input("enter A value"))
b=int(input("enter B value"))
if a==b:
    print("both are equal")
elif a>b:
    print("a is greater")
else:
    print("b is greater")

enter A value22
enter B value22
both are equal

### Greatest of three numbers

In [4]:
a=int(input("enter A value"))
b=int(input("enter B value"))
c=int(input("enter C value"))
if a==b==c:
    print("three numbers are equal")
elif b<a>c:
    print("a is greater")
elif b>c:
    print("b is greater")
else:
    print("c is greater")

enter A value6
enter B value9
enter C value7
b is greater

## Eigth program

### To print Calender

In [5]:
import calendar
year=2019
month=9
c=calendar.month(year,month)
print(c)

   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

### To print calender input from user

In [6]:
import calendar
year=int(input("enter a year"))
month=int(input("enter a month"))
c=calendar.month(year,month)
print(c)

enter a year1998
enter a month08
    August 1998
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

## Loop Concepts

In [7]:
X=["kranthi","ramaiah"]
for i in X:
    print(i)

kranthi
ramaiah

In [10]:
for i in range(25):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

### to print str in array

In [9]:
x=["Anuradha","Seetaramaiah"]
y=["Kranthi","Prasad"]
for i in x:
    for j in y:
        print(x,y)

['Anuradha', 'Seetaramaiah'] ['Kranthi', 'Prasad']
['Anuradha', 'Seetaramaiah'] ['Kranthi', 'Prasad']
['Anuradha', 'Seetaramaiah'] ['Kranthi', 'Prasad']
['Anuradha', 'Seetaramaiah'] ['Kranthi', 'Prasad']

## Functions

#### addition

In [11]:
def add(x,y):
    c=x+y
    return c
a=10
b=20
add(a,b)

30

In [12]:
def add(x,y):
    c=x+y
    return c
a=int(input("enter A value"))
b=int(input("enter B value"))
add(a,b)

enter A value25
enter B value25

50

#### Substraction

In [13]:
def sub(x,y):
    c=x-y
    return c
a=int(input("enter A value"))
b=int(input("enter B value"))
sub(a,b)

enter A value26
enter B value22

4

#### Multiplication

In [14]:
def mul(x,y):
    c=x*y
    return c
a=int(input("enter A value"))
b=int(input("enter B value"))
mul(a,b)

enter A value26
enter B value26

676

#### Modulus

def mod(x,y):
    c=x%y
    return c
a=int(input("enter A value"))
b=int(input("enter B value"))
mod(a,b)

#### Division

In [16]:
def div(x,y):
    c=x/y
    return c
a=int(input("enter A value"))
b=int(input("enter B value"))
div(a,b)

enter A value26
enter B value2

13.0

## Arithmetic operations using functions

In [18]:
def arith(x,y):
    c=x+y
    d=x-y
    e=x*y
    f=x%y
    g=x/y
    return c,d,e,f,g
a=int(input())
b=int(input())
arith(a,b)

26
2

(28, 24, 52, 0, 13.0)

### To print given table using loop

In [20]:
num=int(input("enter the table"))
print("the multiplication of  given table is",num)
for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter the table5
the multiplication of  given table is 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Given num is even or odd

In [22]:
def num(x):
    if(x%2==0):
        print("even no")
    else:
        print("odd")
num(6)

even no

### Type of a variable

In [3]:
a=20
type(a)

int